.bosluk {
   
    padding: 20px 10px
}
.coll {
    margin-top: 1000px;
}
.img {
    border-radius: 100%;
    
}
.bsl {
    margin-left: 5px;
}
.butn {
    border-radius: 50%;
    border: solid gray;
}
